/* Links and Bookmarks Styles */

#links {
  display: grid;
  grid-row-gap: 0.5em;
  grid-template-columns: repeat(5, 1fr);
}

ul {
  list-style-type: none;
}

.header {
  color: var(--accent-color);
  font-size: 1.6em;
  font-weight: 600;
  text-align: center;
}

a {
  color: var(--text-color);
  font-size: 1.2em;
  text-decoration: none;
}

a:hover {
  color: var(--hover-color);
  font-style: italic;
}
